absl-py==0.11.0
appdirs==1.4.3
asttokens==2.2.1
attrs==20.2.0
backcall==0.2.0
CacheControl==0.12.6
cachetools==5.3.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.3
comm==0.1.3
contextlib2==0.6.0
contourpy==1.0.7
cvxopt==1.3.1
cycler==0.10.0
Cython==0.29.21
debugpy==1.6.7
decorator==4.4.2
Deprecated==1.2.14
distlib==0.3.1
distro==1.4.0
executing==1.2.0
Farama-Notifications==0.0.4
filelock==3.0.12
filterpy==1.4.5
fonttools==4.39.4
future==0.18.2
google-auth==2.18.0
google-auth-oauthlib==1.0.0
grpcio==1.54.2
gym==0.17.3
gymnasium==0.28.1
html5lib==1.0.1
identify==1.5.9
idna==2.8
importlab==0.5.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
inputs==0.5
ipaddr==2.2.0
ipykernel==6.23.0
ipython==8.12.2
jax-jumpy==1.0.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.3.1
llvmlite==0.34.0
lockfile==0.12.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mpmath==1.3.0
msgpack==0.6.2
nest-asyncio==1.5.6
networkx==2.5
ninja==1.10.0.post2
nodeenv==1.5.0
numba==0.51.2
numpy==1.21.0
oauthlib==3.2.2
optht==0.2.0
packaging==20.3
pandas==2.0.1
parso==0.8.3
pep517==0.8.2
pickleshare==0.7.5
PICOS==2.4.17
Pillow==8.0.1
platformdirs==3.5.1
pre-commit==2.8.2
progress==1.5
prompt-toolkit==3.0.38
protobuf==4.23.0
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybullet==3.0.6
pydmd==0.4.1.post2306
pyglet==1.5.0
Pygments==2.15.1
pykoop==1.1.3
pyparsing==2.4.6
python-dateutil==2.8.2
pytoml==0.1.21
pytz==2023.3
pywin32==306
PyYAML==5.3.1
pyzmq==25.0.2
quadprog==0.1.7
requests==2.22.0
requests-oauthlib==1.3.1
retrying==1.3.3
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
Shimmy==1.0.0
six==1.14.0
stable-baselines3 @ git+https://github.com/DLR-RM/stable-baselines3@fd0cd82339511b54cd3907df228a656f2a32f0b8
stack-data==0.6.2
sympy==1.12
sysidentpy==0.3.1
tensorboard==2.13.0
tensorboard-data-server==0.7.0
threadpoolctl==3.1.0
toml==0.10.2
torch==2.0.1
tornado==6.3.2
tqdm==4.51.0
traitlets==5.9.0
typed-ast==1.4.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.25.8
virtualenv==20.1.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.4
wrapt==1.15.0
zipp==3.15.0
